body{
    font-family: 'Lobster', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main{
    background-color: black;
    display: flex;
    height: 100vh;
    padding: 0.5rem;

}
.sidebar{
    background-color: black;
    width: 355px;
    border-radius: 1rem;
    /* height: 75%; */
    height: 70%;
    margin-right: 0.5rem;
      /*1rem=16px */ 
}
::-webkit-scrollbar{
    opacity: 0;
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: black;
}
::-webkit-scrollbar-thumb{
    opacity: 0.01;
    background-color: #5150508c;
}
.main-contant{
   
    background-color: #090909;
    flex: 1;
    /* height: 86%; */
    height: 98%;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 13%;
}
a{
    text-decoration: none;
    color: white;
}
.spotify-img{
    height: 1.7rem;
    width: 5.3rem;
    margin: 1rem;
    margin-top: 1.5rem;
    cursor: pointer;
}
.nav{
    background-color: #090909;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
    padding: 0.4rem 0.75rem ;
 
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding-left: 0.5rem 0.75rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size:1.25rem ;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library{
    background-color:#090909;
    border-radius: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem ;
    height: 100%;
}
.nav-fotter{
    background-color: #090909;
    position: fixed;
    bottom: 2rem;
    width: 340px;
    height: 12rem;
    font-size: 0.5rem;
    line-height: 1.3rem;
    display: flex;
    align-items: start;
    
}
.English{
    background-color: #090909;
    border: 1px solid rgba(255, 255, 255, 0.534);
    color: white;
    height: 1.7rem;
    width: 5.1rem;
    border-radius: 50px;
    align-self: center;
    position: relative;
    right: 13.5rem;
    cursor: pointer;
}
.English:hover{
    height: 1.8rem;
    width: 5.2rem;
    border: 1px solid white;
}
.nav-fotter  span{
    margin: 0.4rem;
    opacity: 0.75;
}
.options{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-options img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}
.icons :hover{
    opacity: 1;
}
.lib-options a:hover{
    opacity: 1;
}
.lib-options{
    opacity: 0.7;
    position: sticky;
    height: 3rem;
}
.lib-options:hover{
    opacity: 1;
}
.lib-boxes{
    overflow: auto;
    height: 11.25rem;
}
.box{
    background-color:#121212 ;
    height: 8rem;
    border-radius: 1rem;
    margin:0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}

.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem ;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #090909;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 80;
}
.sticky-nav-icons{
    display: flex;
    margin-left: 0.75rem;
}
.forward-img{
    height: 1.6rem;
    width: 1.6rem;
    padding: 0.2rem;
    border-radius: 100%;
    background-color: rgb(8, 7, 7);
    margin-left: 1rem;
}
.backward-img{
    height: 1.6rem;
    width: 1.6rem;
    padding: 0.2rem;
    border-radius: 100%;
    background-color: rgb(8, 7, 7);
}
.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item {
    margin-right: 1rem;
}
.dark-badge{
    background-color: black;
    color: white;
}
@media (max-width:1000px){
    .hide{
        display: none;
    }
}
.cards-container{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    margin-top: 1rem;
    z-index: 11;
}

.card{
    background-color: #121212;
    width: 180px;
    border-radius: 0.5rem;
    padding: 1rem ;
    margin-left: 1.5rem;
}
.play-button{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    border:0px ;
    background-color: #1bd760;
    z-index: -10;
    position: relative;
    top:11.5rem;
    left: 7.5rem;
}
.card:hover{
    background-color: #1e1d1d;
    .play-button{
        z-index: 20;
        top:10.5rem;
        transition-duration: 1s;
        -o-transition-timing-function:linear ;
    }
}

.card-img{
    width: 100%;
    border-radius: 0.5rem;

}
.card-tital{
    font-weight: 600;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.album-text{
    font-weight: 580;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.5rem;
}
.album-info{
    font-size: 0.6rem;
    margin-right: 3rem;
    cursor: pointer;
}
.album-title{
    font-size: 1rem;
    align-self: center;
    margin-left: 0.7rem;
    cursor: pointer;
}
.album-text:hover{
    text-decoration: underline;
}
.album-info:hover{
    text-decoration: underline;
}
.album-heart{
    margin-left: 1rem;
    opacity: 0.8;
    cursor: pointer;
}
.album-heart:hover{
    opacity: 1;
}

.album-icon{
    margin: 0.3rem 0 0 0.5rem ;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
}
.player{
    width: 50%;
}
.control{
    width: 25%;

}
.palyer-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-contron-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}
.player-contron-icon:hover{

    opacity: 1;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    margin-top: 1rem;
    width: 70%;
    appearance:none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -0.45rem
}
.current-time{
    margin-top: 1rem;
    font-size: 0.7rem;
    opacity: 0.7;
}
.total-time{
    margin-top: 1rem;
    font-size: 0.7rem;
    opacity: 0.7;
}
.control{
    display: flex;
    justify-content: end;
    margin-right: 1rem;
    opacity: 0.75;
    margin-right: 1rem;
    height: 1.2rem;
}
.control-icons{
    opacity: 0.75;
}
.control-icons:hover{
    opacity: 1;
    cursor: pointer;
}
.control-icons-5{
    opacity: 0.75;
    height: 1.2rem;
    margin-right: 1rem;
    cursor: pointer;
}
.control-icons-5:hover{
    opacity: 1;
}
.control-icons{
    height: 1.2rem;
    margin-right: 0.5rem;
}
.volume::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.volume::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -0.45rem
}
.music-player{
    display: none;

}
.player-control-play-button{
    cursor: pointer;
}
